body{
    background-color: #F3F2F7;
}
.main-hdr {
    padding: 20px;
    box-shadow: inset 0 0 0 2px #000626, 0.3em 0.3em 1em #000314;
    background-color: #041160;
}
.main-hdr__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-nav{
    position: static;
    display: flex;
}
h1{
    color: white;
    text-shadow: -1px -1px 0 #041160, 1px -1px 0 #041160, -1px 1px 0 #041160, 1px 1px 0 #041160;
}
#slct,option{
    width: 200px;
    height: 30px;
}
#btn{
    margin-left: 20px;
}